div {
    border-style: solid;
    height: 100px;
}

.div1 {
    background-color: red;
    position: relative;
    top: 10px;
    left: 5px;
}

.div2 {
    background-color: aqua;
    width: 100px;
    position: absolute;
    bottom: 0px;
}