.menu{
    display: flex;
    padding-left: 30px;
    width: 25vw;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.black{
    display: flex;
    background-color: black;
    width: 100%;
    height: 84px;
    align-items: center;
    justify-content: space-around;
}

.blackbox{
    display: flex;
    width: 20vw;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    color: gray;
    padding-right: 30px;
}

.background{
    position: relative;
    object-fit: cover;
}

.gradient{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg,#fff,rgba(0,0,0,.001) 50%),linear-gradient(90deg,#fff,rgba(0,0,0,.001) 50%);
}

.gradientcontent{
    margin-top: 18vw;
    margin-left: 5vw;
}

.gradientcontent h1{
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.gradientcontent p{
    margin-top: 2vw;
    color: black;
    font-size: 30px;
}

.minimenu{
    display: flex;
    font-size: large;
    width: fit-content;
    height: 100px;
    margin-top: 1vw;
    justify-content: space-between;
}

.Mehr{
    text-align: center;
    padding-top: 15px;    
    width: 180px;
    height: 30px;
    background-color: white;
    border: black solid 1px;
}

.Angebot{
    text-align: center;
    padding-top: 15px;
    margin-left: 5px;
    background-color: blue;
    color: white;
    width: 180px;
    height: 30px;
    border: black solid 1px;
}

.text{
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 3vw;
}

.logos{
    margin-top: 5vw;
    display: flex;
    position: sticky;
    top: 20px;
    width: 100%;
    height: 4vw;
    align-items: center;
    justify-content: center;
}

.MercedesBenz{
    width: 150px;
    height: 3vw;
    border: solid 1px gray;
    padding-top: 2vw;
    padding-left: 2vw;
    background-color: black;
    color: white;
}

.AMG{
    width: 150px;
    height: 3vw;
    border: solid 1px gray;
    padding-top: 2vw;
    padding-left: 2vw;
    background-color: white;
}

.MaybachL{
    width: 150px;
    height: 3vw;
    border: solid 1px gray;
    padding-top: 2vw;
    padding-left: 2vw;    
    background-color: white;
}

h2{
    margin-top: 2px;
    margin-left: 5vw;
    font-size: 2vw;
    font-weight: bold;
}

.grid{
    margin-top: 35px;
    height: 624px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: 624px;
    column-gap: 40px;
    row-gap: 40px;
}

.gridbox img {
    width: 100%;
}

.gridimage{
    object-fit: cover;
    height: 100%;
}

#grid1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-size: cover;
    height: 624px;
}

#grid2{
    background-size: cover;
    height: 624px;
}

#grid3{
    background-size: cover;
    height: 624px;
}

#grid4{
    background-size: cover;
    height: 624px;
}

#grid5{
    background-size: cover;
    height: 624px; 
}

.gridbox img {
    width: 100%;
}